
# initial work I tried to do using the MET API, not relevant for project
/API

# includes the MET dataset, unnecessary for git tracking
/data

# headings from dataset for reference
headings.md

# playing around with downloading titles -- irrelevant for model training
MaxErnstTitles.csv
Titles_Artist.csv

# pretty much everything for my twitter bot is here bc it has my secret keys!
# the generic version of lambda_function.py is in the /twitter_bot folder without my keys
API_keys.txt
/twitter_bot/API_keys.txt
/twitter_bot/deploy_bot.zip
/twitter_bot/deploy_bot/
/twitter_bot/lambda_function.py
/twitter_bot/tweepyAPI(copy.py)
/twitter_bot/Surrealist_tweets_compiled_copy.json

# backup generated titles in txt form just because
gpt_titles_backup.txt


#files from first round of training
/gpt2_model/Surrealist_tweets.json
/gpt2_model/Surrealist_tweets1.json
/gpt2_model/Surrealist_tweets4.json
/gpt2_model/Surrealist_tweets5.json
/gpt2_model/Surrealist_tweets6.json

# files from model
/gpt2_model/checkpoint/
/gpt2_model/models/
/gpt2_model/samples

# old model (first try, it kept adding the steps to the previous steps and I wanted to redo)
/gpt2_model/old/

# first bot
/twitter_bot/old/
